h1 {
    color: rgb(19, 156, 1);
    font-size: 30px;
    text-align: center;
    text-shadow: 0px 0px 3px red;
}
p:first-letter{
    color: brown;
    font-size: 30px;
    text-shadow: 0px 0px 3px red;
}
a{
    color: cyan;
}
a:visited{
    color: black;
}
h1:hover{
    color: blue;
    background-color: brown;
    text-align:left;
}


